.board {
  height: 80vh;
  padding: 0;
  
  position: relative;
  margin: 50px;
  display: grid;
  grid-template-columns: calc(.25*var(--tile-size)) calc(8*var(--tile-size));
  background-color: var(--bg-color);
}

.tiles {
  display: grid;
  grid-template-columns: repeat(8, var(--tile-size));
  grid-template-rows: repeat(8, var(--tile-size));
  width: calc(8*var(--tile-size));
}

.tile {
  position: relative;
  width: var(--tile-size);
  height: var(--tile-size);
}

.tile--light {
  background-color: var(--light-tile);
}

.tile--dark {
  background-color: var(--dark-tile);
}
